/* Estilo base */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 50%;
  background: url('./assets/fullshield.png') no-repeat center center;
  background-size: contain;
  border-radius: 50%;
}

.circle::before {
    content: '';
    position: absolute;
    top: -80px;
    left: -80px;
    width: calc(100% + 160px);
    height: calc(100% + 160px);
    border: 1px dashed #5f5f5f;
    border-radius: 50%;
    z-index: -1;
    box-sizing: border-box;
}

.iconsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotacion-inversa {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.iconsContainer {
  animation: rotate 10s linear infinite;
}

.icon {
  animation: rotacion-inversa 10s linear infinite;
}


.footer {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: relative;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  margin-top: 10rem;
  filter: opacity(0.5); 
}


/* Media queries */

/* Pantallas pequeñas (hasta 576px) */
@media (max-width: 576px) {
  .container {
    margin-left: 4rem;
    margin-right: 2rem;
  }
}

/* Pantallas medianas (desde 577px hasta 992px) */
@media (min-width: 577px) and (max-width: 992px) {
  .container {
    margin-left: 20rem;
  }
}

.phrase {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
  margin-top: 10rem;
}

.phrase.active {
  opacity: 0.8;
}


/* Media query para pantallas pequeñas (móvil) */
@media (max-width: 768px) {
  .footer {
    padding: 0.5rem;
  }

}
